on:
  workflow_dispatch:
    inputs:
      environments:
        description: "choose environment"
        required: true
        default: staging
        type: choice
        options:
          - staging
          - production
    
  
jobs:
  deploy:
    runs-on: ubuntu_latest
    steps:
      - name: Deploy application
        run: echo " deploying application to ${{ inputs.environment }}"

  
